<launch>
  <arg name="param_file" default="$(find uav_control)/../../config/sunray-150.yaml" />
  <arg name="uav_name" default="uav" />
  <arg name="uav_id" default="1" />
  <arg name="output_yaml" default="/tmp/sunray_uav_param_resolved.yaml" />
  <arg name="keep_output_yaml" default="true" />

  <rosparam command="load" file="$(find uav_control)/config/px4_controller_config.yaml" />
  <rosparam command="load" file="$(find uav_control)/config/sunray_control_arbiter_config.yaml" />

  <node pkg="uav_control"
        type="load_uav_param.py"
        name="load_uav_param"
        output="screen"
        args="--input-yaml $(arg param_file) --uav-name $(arg uav_name) --uav-id $(arg uav_id) --output-yaml $(arg output_yaml) --keep-output-yaml $(arg keep_output_yaml)" />
</launch>
